:root {
  /* access variables with "var(--primary-color)" */
  --primary-color: rgba(244, 244, 244, 0.5);
  --secondary-color: rgb(33, 33, 33);
  --tertiary-color: #d9204e;
}

#home {
  font-family: "Voces", sans-serif;
  color: black;
  background-color: var(--primary-color);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url(../assets/hero.jpg);
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  place-content: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

#header-title {
  font-size: clamp(0.8em, 1.5vw + 0.8em, 1.6em);
  background: var(--tertiary-color);
  color: white;
  text-align: center;
  margin-left: 4%;
  margin-right: 4%;
  opacity: 0.85;
}

nav {
  width: 50%;
  max-width: 70%;
  margin: 2vh 0 2vh 4vw;
  padding-bottom: 10px;
  border-radius: 10px;
  opacity: 0.85;
  transition: ease-in-out 0.6s;
}

#nav-toggle {
  cursor: pointer;
  font-size: clamp(0.8em, 1vw + 0.8em, 1.2em);
  font-weight: bold;
  background-color: var(--tertiary-color);
  width: 40%;
  margin-left: 25%;
  padding: 0.25em;
  text-align: center;
  border: 2px solid black;
  border-radius: 4%;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  overflow: none;
  user-select: none;
  transition: ease-in-out 0.6s;
}

#nav-toggle:hover {
  transform: scale(1.15);
}

#nav {
  /* initially won't display, but display flex when toggled */
  display: none;
  margin-left: 20%;
  margin-right: 16%;
  flex-wrap: wrap;
}

.nav-item {
  margin-bottom: 0.6vh;
}

.nav-btn {
  cursor: pointer;
  background-color: rgb(244, 244, 244);
  color: black;
  margin: 2vh 2px 2px 2px;
  padding: 0.4em;
  border: 2px solid black;
  border-radius: 4%;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  font-size: clamp(0.6em, 1vw + 0.6em, 1em);
}

.nav-btn:hover {
  font-weight: bold;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.6);
  transform: scale(1.15);
  text-decoration: underline;
}

.section-title {
  color: white;
  font-size: clamp(1em, 1.5vw + 1em, 1.4em);
}

.home-section {
  max-width: 1000px;
  width: 70%;
  margin: 4%;
  margin-bottom: 6%;
  padding: 4%;
  border: 2px solid var(--tertiary-color);
  border-radius: 10px;
  background-color: var(--tertiary-color);
  opacity: 0.85;
}

#home-intro > p {
  padding: 2%;
  line-height: 1.6em;
}

#list-values {
  display: grid;
  place-content: center;
  grid-template-columns: 36% 36%;
  grid-gap: 3vw;
  grid-auto-flow: dense;
  grid-auto-columns: 1fr;
  margin-top: 1.4em;
}

.value-item {
  width: 110%;
  text-align: center;
  padding: 1em 0.5em 1em 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 48%;
}

.value-caption {
  font-weight: bold;
  font-size: clamp(0.6em, 1vw + 0.6em, 1em);
  margin-top: 0.4em;
}

footer {
  margin-top: 180px;
  text-align: center;
}

#logout {
  display: none;
}

#home-currency {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#currency-converter {
  display: grid;
  place-content: center;
  margin-bottom: 0.4em;
}

#currency-converter > div {
  margin-top: 0.8em;
  padding: 2%;
  line-height: 1.6em;
}

#currency {
  padding: 0.25em;
  opacity: 0.95;
  border-radius: 5%;
  width: clamp(1em, 1.5vw+1em, 2em);
  margin: 0.4em;
  color: black;
  overflow: none;
}

#currency:focus {
  box-shadow: 0 0 0.8em rgba(0, 0, 0, 0.8);
}

#currency-submit {
  cursor: pointer;
  opacity: 0.95;
  border-radius: 12%;
  padding: 0.4em;
  background: transparent;
  color: white;
  transition: ease-in-out 0.6s;
  font-weight: bold;
}

#currency-submit:hover {
  background: var(--secondary-color);
  color: var(--tertiary-color);
  transform: scale(1.15);
}

#currency-result {
  padding: 2%;
}

#api-source {
  font-size: clamp(0.6em, 1.5vw + 0.6em, 0.8em);
  margin: 1.4em;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
